{% extends 'base.html.twig' %}


{% block stylesheets %}
	<style>
		.home {
			width: 100%;
			height: 80vh;
		}
		.bold {
			font-weight: bold;
		}
	</style>
{% endblock %}


{% block body %}
	<div class="container-fluid px-5 pt-4 pb-5">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="text-success text-uppercase bold mb-5">
					<a href="{{ path('app_import') }}" class="btn btn-outline-success">
						<i class="fas fa-arrow-left"></i> | Importer les nouvelles données
					</a>
					Gestionnaire d'importation de données</h2>

				{% include "partials/_flashMessage.html.twig" %}

				<table id="example1" class="table table-responsive table-sm table-bordered table-striped text-center">
					<thead>
						<tr class="bg-secondary">
							<th>Compte Affaire</th>
							<th>Compte évènement (Veh)</th>
							<th>Compte dernier évènement (Veh)</th>
							<th>Numéro de fiche</th>
							<th>Libellé civilité</th>
							<th>Propriétaire actuel du véhicule</th>
							<th>Nom</th>
							<th>Prénom</th>
							<th>N° et Nom de la voie</th>
							<th>Complément adresse 1</th>
							<th>Code postal</th>
							<th>Ville</th>
							<th>Téléphone domicile</th>
							<th>Téléphone portable</th>
							<th>Téléphone job</th>
							<th>Email</th>
							<th>Date de mise en circulation</th>
							<th>Date achat (date de livraison)</th>
							<th>Date dernier évènement (Veh)</th>
							<th>Libellé marque (Mrq)</th>
							<th>Libellé modèle (Mod)</th>
							<th>Version</th>
							<th>VIN</th>
							<th>Immatriculation</th>
							<th>Type de prospect</th>
							<th>Kilométrage</th>
							<th>Libellé énergie (Energ)</th>
							<th>Vendeur VN</th>
							<th>Vendeur VO</th>
							<th>Commentaire de facturation (Veh)</th>
							<th>Type VN VO</th>
							<th>Numéro de dossier VN VO</th>
							<th>Intermediaire de vente VN</th>
							<th>Date évènement (Veh)</th>
							<th>Origine évènement (Veh)</th>
						</tr>
					</thead>
					<tbody>
						{% for client in clients %}
							<tr>
								<td>{{ client.businessAccount }}</td>
								<td>{{ client.eventAccount }}</td>
								<td>{{ client.lastEventAccount }}</td>
								<td>{{ client.sheetNumber }}</td>
								<td>{{ client.civilityWording }}</td>
								<td>{{ client.currentVehicleOwner }}</td>
								<td>{{ client.name }}</td>
								<td>{{ client.firstName }}</td>
								<td>{{ client.numberAndNameOfTheRoad }}</td>
								<td>{{ client.complementAddress1 }}</td>
								<td>{{ client.postalCode }}</td>
								<td>{{ client.city }}</td>
								<td>{{ client.homePhone }}</td>
								<td>{{ client.cellPhone }}</td>
								<td>{{ client.workPhone }}</td>
								<td>{{ client.email }}</td>
								<td>{{ client.circulationDate }}</td>
								<td>{{ client.purchaseDate }}</td>
								<td>{{ client.lastEventDate }}</td>
								<td>{{ client.brandLabel }}</td>
								<td>{{ client.ModelLabel }}</td>
								<td>{{ client.version }}</td>
								<td>{{ client.vin }}</td>
								<td>{{ client.registration }}</td>
								<td>{{ client.TypeOfLead }}</td>
								<td>{{ client.Mileage }}</td>
								<td>{{ client.energyLabel }}</td>
								<td>{{ client.NVSeller }}</td>
								<td>{{ client.VOSeller }}</td>
								<td>{{ client.billingComment }}</td>
								<td>{{ client.VNVOType }}</td>
								<td>{{ client.VNVOFileNumber }}</td>
								<td>{{ client.NVSalesIntermediary }}</td>
								<td>{{ client.eventDate }}</td>
								<td>{{ client.eventOrigin }}</td>
							</tr>
						{% endfor %}

					</tbody>
					<tfoot>
						<tr class="bg-secondary">
							<th>Compte Affaire</th>
							<th>Compte évènement (Veh)</th>
							<th>Compte dernier évènement (Veh)</th>
							<th>Numéro de fiche</th>
							<th>Libellé civilité</th>
							<th>Propriétaire actuel du véhicule</th>
							<th>Nom</th>
							<th>Prénom</th>
							<th>N° et Nom de la voie</th>
							<th>Complément adresse 1</th>
							<th>Code postal</th>
							<th>Ville</th>
							<th>Téléphone domicile</th>
							<th>Téléphone portable</th>
							<th>Téléphone job</th>
							<th>Email</th>
							<th>Date de mise en circulation</th>
							<th>Date achat (date de livraison)</th>
							<th>Date dernier évènement (Veh)</th>
							<th>Libellé marque (Mrq)</th>
							<th>Libellé modèle (Mod)</th>
							<th>Version</th>
							<th>VIN</th>
							<th>Immatriculation</th>
							<th>Type de prospect</th>
							<th>Kilométrage</th>
							<th>Libellé énergie (Energ)</th>
							<th>Vendeur VN</th>
							<th>Vendeur VO</th>
							<th>Commentaire de facturation (Veh)</th>
							<th>Type VN VO</th>
							<th>Numéro de dossier VN VO</th>
							<th>Intermediaire de vente VN</th>
							<th>Date évènement (Veh)</th>
							<th>Origine évènement (Veh)</th>
						</tr>
					</tfoot>
				</table>

			</div>
		</div>
	</div>

{% endblock %}

