{% extends 'base.html.twig' %}


{% block stylesheets %}
	<style>
		.home {
			width: 100%;
			height: 80vh;
		}
		.bold {
			font-weight: bold;
		}
	</style>
{% endblock %}


{% block body %}
	<div class="container p-5">
		<div class="home d-flex justify-content-center align-items-center">
			<div class="content w-50">
				<h2 class="text-success text-uppercase bold">Gestionnaire d'importation de données</h2>
				<p>Pour ce test technique, il s'agira de réaliser un import de fichier avec enregistrement des données en base de données.</p>
				{% include "partials/_flashMessage.html.twig" %}
				<div class="my-4">
					{{ form_start(form) }}
						{{ form_label(form.file) }}
						<div class="input-group">
							{{ form_widget(form.file) }}
							<input type="submit" value="Importer" class="btn btn-sm btn-primary"/>
						</div>
						{{ form_errors(form.file) }}
					{{ form_end(form) }}
				</div>
				<a href="{{ path('app_saved_data') }}" class="btn btn-success float-right">Voir les données importées</a>
			</div>
		</div>
	</div>

{% endblock %}

