<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Gestionnaire d'importation de données{% endblock %}</title>
		<link rel="stylesheet" href="{{ asset('assets/plugins//bootstrap/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome-free/css/all.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
        {% block stylesheets %}
			<style>
			</style>
        {% endblock %}

       
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset('assets/plugins/jquery/jquery.min.js') }}"></script>
		<script src="{{ asset('assets/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
		<script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ asset('assets/plugins/jquery-knob/jquery.knob.min.js') }}"></script>
		<script src="{{ asset('assets/plugins/datatables/jquery.dataTables.js') }}"></script>
		<script src="{{ asset('assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
		<script src="{{ asset('assets/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
		<script src="{{ asset('assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
		<script src="{{ asset('assets/plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
		<script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
		<script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
		<script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
		<script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
		<script src="{{ asset('assets/js/dt.js') }}"></script>
		{% block javascripts %}
			<script>
			</script>
		{% endblock %}

    </body>
</html>
